@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
     
}

body{
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.navigation-top{
    width: auto;
    height: 130px;
    background-image: url(../images/background/101.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px 50px 20px 15px;
    color: white;
    font-family: "Dosis", sans-serif;
}
.heading{
    font-family: "pathway gothic one";
}
.photographer{
    font-family: "Dosis", sans-serif;
}

.navigation-top h1 a{
    letter-spacing: 1px;
    color: white;
    font-weight: 30px;

}

.navigation-bottom{
    width: 100%;
    height: 90px;
        
}

.navbar{
    background-color: #323045;
    padding: 15px 20px 10px 20px;
    font-family: "Dosis", sans-serif;
}


.logo{
    color: white;
    font-weight: bold;
    font-size: 25px;
    
}


select{
    width: 100%;
    margin-top: 10px;

}

select option{
    text-align: center;
}


.navlist{
    display: none;
}

.main-section1{
    margin: 100px 0;
    
}

.main-section1 h2{
        padding:px;
        /* margin:50px 10px 40px 10px; */
        text-align: center;
        font-size: 35px;
        font-family: "pathway gothic one";

}

.image img{
    width: 85%;
    display: block;
    margin: 20px auto;
    
}

.main-section2{
        padding: 60px 10px 50px 10px;
}

.bio h3{
    margin-left: 20px;
    font-size: 30px;
}

.girl{
    width: 85%;
    display: block;
    margin: 20px auto;
}

/* .girl1{
    width: 250px;
} */


.bio p{
    padding: 20px;
}

.btn{
    padding:0 0 50px 20px;
    font-family: "Dosis", sans-serif;
    
}

.btn a{
    padding: 5px 25px;
    border: 1px solid black;
    color: black;
}

.follow{
    margin: 20px;
}

.follow h3{
    font-size: 30px;
}

.menu li {
    margin: 40px 0;
    font-family: "Open Sans", sans-serif;
    
}

.menu li a{
    display: flex;
    align-items: center;
    font-size: 20px;
    color:#323045
    
    
}

.menu li a p{
    color: #585555;
}

.menu li a p:hover{
    text-decoration: underline #323045;
       
}


i{
    font-size:40px ;
    padding-right: 18px;
    color: #323045;
    
}

.main-section{
    background-image: url(../images/background/content_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 70px 10px;
}



.main-section3{
    padding: 80px 15px 50px 15px;

}

.main-section3 h3{
    font-size: 30px;
    margin-bottom: 20px;
    
}

.time{
    display: flex;
    column-gap: 20px;
    padding: 20px 20px 20px 0;
}

time{
    font-size: 30px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}


.btn1{
    padding: 20px 0;
    
}

.btn1 a{
    padding: 5px 25px;
    border: 1px solid black;
    color: black;
}

.testimonials{
    padding: 70px 10px 40px 10px;

}

.heading3{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: #323045;
    font-style: italic;
    padding: 10px 0 0 10px;
   

}

footer{
    background-color: #323045;
    height: 500px;
    background-color: #323045;
    text-align: center;
    padding: 60px 30px 70px 30px;
    font-size: 30px;
}

.footer div{
    color: white;
    
}

.footer h3{
    padding-bottom:17px;
    color: white;
    font-family:"pathway gothic one";
    font-size: 48px;
    font-weight: 500;
    
}

.mail{
    margin: 10px;
    padding: 10px 0 40px 0;
}
.mail a{
    border: solid white 1px;
    color: white;
    font-size: 20px;
    padding: 9px 15px 16px;
    font-family: "Open Sans", sans-serif;
}

.footer-end a{
    font-size: 15px;
    color: gray;
}
.img-body{
    display: none;
}
.img-body1{
    display: none;
}

.date{
    color: black;
}


.pa-1{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #585555;
    font-size: 14px;
}

.h-1{
    font-family: "pathway gothic one", sans-serif;
}


@media(min-width:768px){                    /* ....tablet view */

.navigation-top{
    
    height: 550px;
    font-size: 40px;
    background-size: cover;
    background-position: center;
    padding-top: 120px;

}  
.heading{
    font-size: 40px;
}
.photographer{
    font-size: 30px;
    color: #E6E5E5;
    font-weight: 300;
    margin-top: 15px;
}

.navigation-top h1 a{
    font-size: 60px;
}


.navigation-bottom{
    height: 60px;
    position: sticky;
    top: 0;
    
}


select{
        display: none;
}    

.navlist{
    display: block;
    
}
.navbar{
    display: flex;
    justify-content: space-between;

}

.navlist ul{
    display: flex;
}


.navlist ul li a{
    display: flex;
    padding-left: 20px;
    color: white;
    
}

.navlist ul li a:hover{
    display: flex;
    padding-left: 20px;
    color: rgb(216, 216, 114);
    font-family: dosis;
    
}

.select-1{
    font-size: 25px;
}

.home{
    color: #E8E6AE;
}

.img-body{
    display: flex;
    
}

.img-1{
    padding-right: 10px;
    width: 195%;
}

.img-body1{
    display: flex;   
    width: 100%;
    margin-top: 40px;
    
}

.img-11{
    padding-right: 10px;
    height: 264px;
    width: 492px;
    
}
.img-3,.img-4{
    height: 121px;
    width: 236px;
}
 .img-4{
    margin-top: 10px;
 }
.content{
    display: none;
}


.img-content{
    
    display: flex;
    

}

.girl{
    width: 134px;
    height: 97px;
}

.para{
    width: 300px;
    float: left;
    font-family: "Open Sans", sans-serif;
    color: #585555;

}

.main-section2{
    padding: 0px;
}

.main-section2 div{
    display: flex;
    padding-top: 40px;
   
    
}

.bio{
    width: 60%;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}

.para-content{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: #585555;
    
    

}



.follow{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-section2{
    margin:0;
   
}

.main-section3{
    height: 430px;
    padding: 30px 0 30px ;

}

.main-section3 div{
    display: flex;
}

.from{
    display: flex;
    flex-direction: column;
}

.testimonials{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.para-4{
    padding-top: 20px;
    font-family: "Open Sans", sans-serif;
    color: #535555;
}

.mail a{
    font-size: 30px;
    padding: 8px 95px;
    font-family: "Open Sans", sans-serif;
}

.mail a:hover{
    color: #323045;
    background-color: #FFFFFF;
}




}

@media(min-width:992px){                   /* ....desktop view */

select{
    display: none;
}

.navigation-bottom{
    position: static;
    top: 0px;
}

.img-body{
    display: block;
    display: flex;
    margin: 20px;
}

.img-1{
    width: 70%;
    
}

.img-2{
    width: 30%;
   
}

.img-5{
    padding-bottom:35px ;
}

.img-6{
    height: 410px;
}

.img-body1{
    width: 100%;
    margin: 25px;
}

.img-11{
    width: 830px;
    height: 380px;
    position: relative;
    right: 18px;
}

.img-3{
    width: 350px;
    height: 180px;
    padding-bottom:20px;
}

.img-4{
    width: 350px;
    height: 180px;
}




.main-section2{
    
}



.mail a{
    font-size: 35px;
    padding: 8px 95px;
    font-family: "Open Sans", sans-serif;
}

.mail a:hover{
    color: #323045;
    background-color: #FFFFFF;
}


.main-section3 {
    height: 350px;
    margin-left:20px;
    margin-right:20px;
}

.from h3{
    font-family: "pathway gothic one", sans-serif;
    font-weight: bold;
}












}